@tailwind base;
@tailwind components;
@tailwind utilities;



.mask{
    mask-image: url('../../public/mask.svg');
    mask-repeat: no-repeat;
    mask-size: 20px;
    background: #76d5cb;
    position: absolute;
    color: black;
  }